.filter-section {
    margin-bottom: 18px; /* Space between sections */
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px; /* Rounded corners */
  }
  
  .plus-icon {
    font-size: 16px; /* Size of the icon */
    transition: transform 0.2s; /* Smooth transition for rotation */
  }
  
  .checkbox-container {
    padding: 0px; /* Remove padding if any */
    margin: 0px;
  }
  
  label {
    display: flex; /* Use flexbox for alignment */
    align-items: Center;
    margin: 0; /* No margin */
    line-height: 0.5; /* Adjust line height */
  }
  
  input {
    margin: 8px; /* Space between checkbox and label text */
    padding: 0px;    
  }
  