/* src/components/FilterMenu.css */
.filter-menu {
  position: absolute; 
  top: 140px; 
  /* left: 0; Align to the right side */
  width: 220px; /* Width of the menu */
  background-color: #FAF4EF; /* Light background color */
  padding-left: 20px;
  height: calc(100vh - 220px);
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); Shadow for visual separation on the right side */
  overflow-y: auto; 
  z-index: 1; 

}
.filter-option {
  text-align: left;
  /* margin: 10px 10px 10px 10px; Space between filter options */
}
.filter-menu label {
  font-size: 10px; /* Adjust the font size as needed */
  margin-left: 0px; 
  font-weight: normal;
  white-space: nowrap;
}

/* .filter-menu input[type="checkbox"] {
  /* transform: scale(0.8); Make the checkbox smaller */
  /* margin-right: 5px; Space between checkbox and text */
.filter-menu .checkbox-container {
  width: 20px; /* Adjust this value to reduce spacing */
  }
  .apply-button {
    width: 100%; /* Full width for better responsiveness */
    height: 40px; /* Increased height for a better click area */
    /* Adjusted margin for better spacing */
    background-color: #4A69BD; /* Main background color */
    color: white; /* Changed text color for better contrast */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increased font size for readability */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  }
  
  .apply-button:hover {
    background-color: #4a7ca8; /* Darker shade on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .apply-button:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 0 3px rgba(90, 137, 188, 0.5); /* Add shadow for accessibility */
  }
  

h4{
  font-size: 16px;
}

h3{
  font-size: 20px;
  color: #4A69BD;
}