.itemDetailContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* מקטין את רוחב התמונה כך שיישאר יותר מקום לפרטים */
  text-align: left;
  background-color: rgba(240, 185, 185, 0.2);
  width: 100%;
  max-width: 700px;
  height: auto;
  border: 3px solid #F0B9B9;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box; /* מבטיח שהרוחב כולל את הפדינג והבדרים */
}

.itemImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%; /* רוחב התמונה */
}

.itemImg {
  max-height: 400px; /* מגביל את גובה התמונה */
  width: auto; /* הרוחב יותאם לגובה כדי לשמור על יחס הרוחב-גובה */
  object-fit: contain; /* מבטיח שהתמונה לא תיחתך */
  border-radius: 10px;
  margin-right: 15px;
}

.itemDet {
  display: flex; /* משנים ל-Flex */
  flex-direction: column; /* יישור אנכי */
  justify-content: space-between;
  width: 60%; /* מגדיל את החלק של הפרטים */
  min-height: 400px; /* גובה מינימלי שיתאים לגובה של התמונה */
}

.itemName {
  font-size: 24px;
  font-weight: bold;
  color: #4A69BD;
  margin-bottom: 5px; /* מרווח מתחת לשם */
}

.itemPrice {
  font-size: 20px;
  margin-bottom: 20px; /* משתנה כדי להקטין את הריווח */
  font-weight: bold;
}

.itemDescription,
.itemSize,
.itemCondition {
  font-size: 16px;
  margin: 0; /* מסיר ריווח */
  padding: 0; /* מסיר ריווח */
}

.loading,
.noItem {
  text-align: center;
  color: #4A69BD;
  font-size: 30px;
  font-weight: bolder;
}

.contactBtn {
  margin-top: 30px; /* מרווח מעל הכפתור */
}
