/* App.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  text-align: center;
}

.appHeader {
  background-color: #FAF4EF;
  padding: 0px 30px 5px 30px;
  color: #4A69BD;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  width: 200px;
}

.appNav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.appLink {
  color: #4A69BD;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.appLink:hover {
  color: #F0B9B9;
}

.main {
  padding: 20px;
  background-color: #FAF4EF;
  height: 100vh;
}

.footer {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  background-color: #F0B9B9;
  color: #FAF4EF;
  width: 100%;
  bottom: 0;
  text-align: center;
}
